*{
    margin: 0;
    padding: 0;
}
body { overflow: hidden;}
body {
    font-family: "calibri", Times, serif;
  }
  h1{
    position: relative;
    top: -450px;
}
h1 {
    font-size: 70px;
  }
h1{
    text-align: center;
}
h2 {
    font-size: 40px;
}
h2{
    position: relative;
    top: -180px;
    left: 990px;
}
#startnavbar {
    width: 100%;
    height: 70px;
     background-color: #00c2ff;
     background-image: linear-gradient(rgba(132, 225, 242, 0.789),rgba(62, 80, 243, 0.674));
    position: relative;
    top: 143px;
    
    }
    *{
        margin: 0;
        padding: 0;
    }
    .logo {
    left: 43%;
    bottom: 75px;
    position: relative;
    }
    .testv2 {
    float: right;
    }
   
#handbal2{
    position: relative;
    top: 250px;
    left: 30px;
    border-radius: 4px;
}
#handbal1{
    position: relative;
    top: 150px;
    left: -180px;   
    border-radius: 4px; 
}

body {
    background-image: url(achtergrondindoor.jpg);
    width: 100%;
    position: fixed;
    background-size: cover;
}