*{
    margin: 0;
    padding: 0;
}

body { overflow: hidden;}

#myvideo {
    position: fixed;
    background-position: 100%;
    z-index: -1;
  }

  #startnavbar {
    width: 100%;
    height: 70px;
     background-color: #00c2ff;
    position: relative;
    top: -240px;
    
    }
    *{
        margin: 0;
        padding: 0;
    }
    .logo {
    left: 43%;
    bottom: 75px;
    position: relative;
    }
    .testv2 {
    float: right;
    }

#t samp{
    color: #00c2ff;
    font-size: 2em;
}
#t{
    width: 100%;
    font-size: 40px;
    text-align: center;
}

h1{
    color: #00c2ff;
    font-style: oblique;

}

#kantoor{
    position: relative;
    left: 10%;
}

.containerkantoor {
    position: relative;
    width: 50%;
top: 10px;
    left: 10%;
  }
  
  .imagekantoor {
    display: block;
    width: 700px
  }
  

  .containerkantoor:hover .overlay {
    opacity: 1;
  }
  
  .textkantoor {
    color: #00c2ff;
    font-size: 20px;
    position: absolute;
    top: 54%;
    left: 39%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
  }

.containersport {
    position: relative;
    width: 50%;
    top: -350px;
    left: 40%;
  }
  
  .image {
    display: block;
    width: 350px
  }
  
  .overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 70%;
    width: 41%;
    opacity: -10;
    transition: 2s ease;
    background-color: #008CBA;
  }
  
  .containersport:hover .overlay {
    opacity: 1;
  }
  
  .text {
    color: rgb(255,215,0);
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
  }
  a:link, a:visited {
    background-color: #00c2ff;
    color: white;
    padding: 14px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
  }
  
  a:hover, a:active {
    background-color: #00c2ff;
  }
#button1 {
  position: relative;
  top: -300px;
}
h3{
 color: black;
}
#button2 {
  position: relative;
  left: 1700px;
  top: -350px;
}

#texthome {
    background-color: rgb(255, 255, 255);
 width: 25.25em;
 height: 350px;
 box-shadow: 0 5px 25px #00c2ff;
 border-radius: 10px;
 padding: 25px;
 margin: 50px;
 transition: 0.7s ease;
 margin-left: 450px;
 margin-top: -300px;
}