*{
    margin: 0;
    padding: 0;
}

body { 
    overflow: hidden;
    background-color: black;
    background-image: linear-gradient(rgba(41, 107, 228, 0.789),rgba(255, 255, 255, 0.674)),url(backgroundhomepaginahobby\ -\ kopie.jpg);
    width: 100%;
    position: fixed;
    background-size: cover;
}

#myvideo {
    position: fixed;
    background-position: 100%;
    z-index: -1;
  }

  #startnavbar {
    width: 120%;
    height: 70px;
     background-color: #00c2ff;
     background-image: linear-gradient(rgba(132, 225, 242, 0.789),rgba(62, 80, 243, 0.674));
    position: relative;
    top: 150px;
    
    }
    *{
        margin: 0;
        padding: 0;
    }
    .logo {
    left: 45%;
    bottom: 75px;
    position: relative;
    }
    .testv2 {
    float: right;
    }

#t samp{
    color: #00c2ff;
    font-size: 2em;
}
#t{
    width: 100%;
    font-size: 40px;
    text-align: center;
}

h1{
    color: #000000;
    font-style: oblique;

}

#kantoor{
    position: relative;
    left: 10%;
}

.containerkantoor {
    position: relative;
    width: 50%;
top: 10px;
    left: 10%;
  }
  
  .imagekantoor {
    display: block;
    width: 700px
    
  }
  

  .containerkantoor:hover .overlay {
    opacity: 1;
  }
  
  .textkantoor {
    color: #ffffff;
    font-size: 40px;
    position: absolute;
    top: 54%;
    left: 39%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
  }


.containersport {
    position: relative;
    width: 50%;
    top: -350px;
    left: 40%;
  }
  
  .image {
    display: block;
    width: 350px
  }
  

  .containersport:hover .overlay {
    opacity: 1;
  }
  
  .text {
    color: #ffffff;
    font-size: 20px;
    position: absolute;
    top: 80%;
    left: 20%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
  }

#button1 {
  position: relative;
  top: 85px;
}
h3{
 color: black;
}
#button2 {
  position: relative;
  left: 1700px;
  top: 40px;
}

#texthome {
    background-color: rgb(255, 255, 255);
 width: 25.25em;
 height: 350px;
 box-shadow: 0 5px 25px #00c2ff;
 border-radius: 10px;
 padding: 25px;
 margin: 50px;
 transition: 0.7s ease;
 margin-left: 1200px;
 margin-top: -700px;
 text-align: center;
}

