*{
    margin: 0;
    padding: 0;
}


h1{
    position: relative;
    top: -80px;
}
body {
    font-family: "calibri", Times, serif;
  }
  h1 {
    font-size: 70px;
  }
h1{
    text-align: center;
}




#myvideo {
    position: fixed;
    background-position: 100%;
    z-index: -1;
}