body{
    background-color: blue;
}
*{
    margin: 0;
    padding: 0;
}

body {
    font-family: "calibri", Times, serif;
  }
  h1 {
    font-size: 70px;
  }
h1{
    text-align: center;
}
#graybox{
    position: relative;
    width: 500px;
    height: 400px;
    background-color: gray;
    left: 150px;
    top: 0px;
}
#graybox2{
    position: relative;
    width: 500px;
    height: 400px;
    background-color: gray;
    left: 900px;
    top: 50px;
}
#Judo{
    position: relative;
    top: -815px;
    left: 150px;

}
#muziek{
    position: relative;
    left: 350px;
    top: -360px;
}