body {overflow: hidden;}

h1{
    position: relative;
    top: -60px;
}
body {
    font-family: "calibri", Times, serif;
  }
  h1 {
    font-size: 70px;
  }
h1{
    text-align: center;
}
h2 {
    font-size: 40px;
}
h2{
    position: relative;
    top: 276px;
    left: 590px;
}
#startnavbar {
    width: 100%;
    height: 70px;
    background-color: #00c2ff;
    position: relative;
    top: 877px;
}
*{
    margin: 0;
    padding: 0;
}
.logo {
left: 43%;
bottom: 75px;
position: relative;
}
.testv2 {
float: right;
}
#judo{
    position: relative;
    top: -80px;
    left: 130px;
    border-radius: 4px;
    
}
img { 
	transition: all .2s ease-in-out; 
}
img:hover { 
    	transform: scale(1.07); 
    }
#handbal{
    position: relative;
    left: 1000px;
    top: -1020px;
    border-radius: 4px;
}
#kickboksen{
    position: relative;
    top: -330px;
    left: 130px;
    border-radius: 4px;
}
#muziek{
    position: relative;
    left: 1000px;
    top: 6px;
    border-radius: 4px;
}

#myvideo {
    position: fixed;
    background-position: 100%;
    z-index: -1;
}

@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
  }
  body{
  background-color: black;
    font-family: cursive;
  }
  
  .glow {
    font-size: 80px;
    color: #fff;
    text-align: center;
    animation: glow 1s ease-in-out infinite alternate;
  }
  
  @keyframes glow {
    from {
      text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #71c6ff, 0 0 40px #71cbff, 0 0 50px #71cbff, 0 0 60px #71cbff, 0 0 70px #71cbff;
    }
    
    to {
      text-shadow: 0 0 20px #fff, 0 0 30px #00ffbf, 0 0 40px #00ffbf, 0 0 50px #00ffbf, 0 0 60px #00ffbf, 0 0 70px #00ffbf, 0 0 80px #00ffbf;
    }
  }
  