*{
    margin: 0;
    padding: 0;
}

body {
    font-family: "calibri", Times, serif;
  }
  h1 {
    font-size: 70px;
  }
h1{
    text-align: center;
}
.graybox{
    position: relative;
    width: 500px;
    height: 400px;
    background-color: gray;
    margin-left: 25 0px;
    top: -50px;
}
.graybox2{
    position: relative;
    width: 500px;
    height: 400px;
    background-color: gray;
    margin-left: 900px;
    top: -50px;
}
#judo{
    position: relative;
    
}