*{
    margin: 0;
    padding: 0;
}
body {
    font-family: "calibri", Times, serif;
  }
  h1{
    position: relative;
    top: -80px;
}
#startnavbar {
    width: 100%;
    height: 70px;
    background-color: #00c2ff;
    position: relative;
    top: 877px;
}
#judo1{
    position: relative;
    top: 100px;
    left: 100px;
}

#myvideo {
    position: fixed;
    background-position: 100%;
    z-index: -1;
}